.row{ margin-left: 20px;color: #fff;}

h2{padding-left: 20px;}

.slider{position: relative;}
.row__posters{display: flex;padding: 20px 0 20px 20px;
  overflow-y: hidden;overflow-x: scroll;scroll-behavior: smooth;}
.row__posters::-webkit-scrollbar{display: none;}
.row__poster{width: 100%;max-height: 144px;object-fit: contain;margin-right: 10px;
  border-radius: 4px;transition: transform 450ms linear 0s;}
.row__poster:hover{transform: scale(1.08);}
.row__posterLarge{max-height: 320px;}
.row__posterLarge:hover{transform: scale(1.1);opacity: 1;}

.slider__arrow{visibility: hidden;
  z-index: 1000; position: absolute;top: 0;width: 80px;height: 100%;cursor: pointer;
  padding: 20px 0;box-sizing: border-box;
  display: flex;justify-content: center;align-items: center;
  transition: all 400ms ease-in-out 0s;}

.left{left: 0;}
.right{right:0;}

.arrow{transition: all  400ms ease-in-out 0s;}
.arrow:hover{transform: scale(1.5);}

.slider:hover .slider__arrow{visibility: visible;}
.slider__arrow:hover{background: rgba(20, 20, 20, 0.5);}

@media screen and (min-width: 1200px) { /* 1200 ~ 최대 */
  .row__poster{max-height: 160px;}
  .row__posterLarge{max-height: 360px;}
}

@media screen and (max-width: 768px) { /* 0~768 */
  .row__poster{max-height: 100px;}
  .row__posterLarge{max-height: 280px;}
}

/* swiper */
.swiper-button-prev{color: #fff !important;}
.swiper-button-next{color: #fff !important;}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1.3rem !important;font-weight: 600 !important;}

.swiper-pagination{text-align: right !important;}
.swiper-pagination-bullet{background: gray !important;opacity: 1 !important;}
.swiper-pagination-bullet-active {background: #fff !important;} 

.swiper{padding: 10px 0 30px !important;}